html {
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, p {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(230, 230, 230);
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h5 {
  font-size: 1.3rem;
  font-weight: bolder;
}

p {
  padding: 0.5rem 0;
}

a {
  color: rgb(45, 155, 95);
}

.container {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.mb-2 {
  margin-bottom: 2rem;
}